<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Empresa</title>
  </head>
  <body class="m-4"> 
        <!-- Menu   -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Empresa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Extrato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Perfil</a>
                </li>
              </ul>
            </div>
      </nav>
      <!-- tabela -->
      <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12 text-center ">
              <div class="row mb-4"><h3>Dados da Empresa</h3></div>
              <div class="row" id="campoDados">
                  <h3>Nome: Empresa top</h3>
                  <h3>CNPJ: 123123123123</h3>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 text-center bg-secondary bg-gradient rounded border border-dark">
            <div class="row">
                <h3>Cadastrar vantagem</h3>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="row">
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Título">
                        <span class="text-light" id="nomeVazio"></span>
                        <textarea class="form-control my-2" type="textarea" name="descricao" id="descricao" placeholder="Descrição"></textarea>
                        <span class="text-light" id="descricaoVazia"></span>
                        <input class="form-control" type="number" name="valor" id="valor" placeholder="Preço em moedinhas">
                        <span class="text-light" id="valorVazio"></span>
                    </div>
                    <button id="btnCadastrar" class="btn btn-light my-2">Enviar</button>
                    <div class="row">
                      <span id="alerta"></span>
                    </div>
                </div>
                <div class="col"></div>
                
            </div>
        </div>
      </div>
      <script src="../js/cadastrovantagem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>